<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotstrip.flow.worker.mapper.FlowMapper">

	<sql id="base_columns">
		id,
		name,
		json_data,
		created_at,
		updated_at,
	</sql>

	<sql id="union_base_columns">
		f.id,
		f.name,
		f.json_data,
		f.created_at,
		f.updated_at,
	</sql>

	<update id="updateById" parameterType="Flow">
		UPDATE flow
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="jsonData != null">
				json_data = #{jsonData,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				created_at = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				updated_at = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<select id="list" parameterType="Flow" resultType="Flow">
		SELECT
		 	fv.max_seq_no as max_seq_no,
			<include refid="union_base_columns" />
		FROM flow f left join flow_seq_no_view fv on f.id = fv.flow_id
		<where>
			<if test="id != null">
				AND f.id = #{id,jdbcType=BIGINT}
			</if>
			<if test="name != null">
				AND f.name like concat('%', #{name,jdbcType=VARCHAR}, '%')
			</if>
			<if test="createdAt != null">
				<![CDATA[
				AND f.created_at >= #{createdAt,jdbcType=TIMESTAMP}
				]]>
			</if>
			<if test="updatedAt != null">
				<![CDATA[
				AND f.updated_at <= #{updatedAt,jdbcType=TIMESTAMP}
				]]>
			</if>
		</where>
	</select>

</mapper>
