<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotstrip.flow.worker.mapper.NodeMapper">

    <update id="updateById" parameterType="Node">
        UPDATE node
        <set>
            <if test="flowHisId != null">
                flow_his_id = #{flowHisId,jdbcType=BIGINT},
            </if>
            <if test="seqNo != null">
                seq_no = #{seqNo,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="data != null">
                data = #{data,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>